################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/1.1.2 编写第一个C 文件/.vs/1.1.2 编写第一个C 文件/v16/Browse.VC.db
/1.1.2 编写第一个C 文件/.vs/1.1.2 编写第一个C 文件/v16
